<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaobai.media">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".activity.MediaActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".activity.PreviewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/PreviewTheme"/>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>
</manifest>